/* =================================================================================
Sidebar 
================================================================================= */
.sidebar {
  width: 250px;
  position: absolute;
  top: 60px;
  left: 0;
  font-family: 'Montserrat', sans-serif;
  background: #3d464d;
  z-index: 0;
  font-size: 13px;
  font-weight: normal;
  z-index: 500;
  color: rgba(255, 255, 255, 0.8);
}
.sidebar .label {
  font-size: 10px;
  position: relative;
  line-height: 12px;
  padding: 2px 5px;
  position: absolute;
  right: 35px;
  top: 12px;
  font-weight: 600;
}
.sidebar .label-default {
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-panel {
  background: none;
  margin: 0px 20px 0px 20px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 0px;
}
.sidebar-panel li a {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  padding: 9px 20px 9px 54px;
  margin-left: -20px;
  margin-right: -20px;
  position: relative;
}
.sidebar-panel li a .caret {
  position: absolute;
  right: 20px;
  top: 18px;
  color: rgba(255, 255, 255, 0.4);
}
.sidebar-panel li .icon {
  position: absolute;
  left: 20px;
  top: 8px;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 19px;
  border-radius: 3px;
  text-align: center;
  width: 24px;
  height: 24px;
  padding-top: 1px;
}
.sidebar-panel li a:hover,
.sidebar-panel li a.active {
  color: #f2f2f2;
  background: rgba(0, 0, 0, 0.2);
}
.sidebar-panel li a:hover .icon,
.sidebar-panel li a.active .icon {
  color: #fff;
}
.sidebar-panel li ul {
  display: none;
  padding: 0;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 13px;
  margin: 0 -20px 0 -20px;
  font-weight: 400;
}
.sidebar-panel li ul li {
  position: relative;
  margin: 0;
}
.sidebar-panel li ul li a {
  margin: 0px;
  color: rgba(255, 255, 255, 0.6);
  padding: 9px 20px 9px 54px;
}
.sidebar-panel li ul li a:hover {
  background: rgba(0, 0, 0, 0.08);
}
.sidetitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  padding: 0;
  margin: 0 0 5px 3px;
  letter-spacing: 0.4px;
}
.sidebar-plan {
  padding: 20px;
  font-size: 12px;
  bottom: 0;
}
.sidebar-plan .progress {
  height: 6px;
  background: rgba(0, 0, 0, 0.3);
  margin: 7px 0;
}
.sidebar-plan .progress-bar {
  background: #399bff;
}
.sidebar-plan .link {
  position: absolute;
  right: 20px;
  color: rgba(255, 255, 255, 0.6);
}
.sidebar-plan .link:hover {
  color: #fff;
}
.sidebar-plan .space {
  display: block;
  font-size: 11px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
.sidebar-colorful .sidebar-panel li a .icon {
  font-size: 15px;
  color: #fff;
}
.sidebar-colorful .color1 {
  background: #399bff;
}
.sidebar-colorful .color2 {
  background: #33577b;
}
.sidebar-colorful .color3 {
  background: #26a65b;
}
.sidebar-colorful .color4 {
  background: #51b7a3;
}
.sidebar-colorful .color5 {
  background: #f39c12;
}
.sidebar-colorful .color6 {
  background: #ef4836;
}
.sidebar-colorful .color7 {
  background: #9a80b9;
}
.sidebar-colorful .color8 {
  background: #a2ded0;
}
.sidebar-colorful .color9 {
  background: #d2527f;
}
.sidebar-colorful .color10 {
  background: #c78568;
}
.sidebar-colorful .color11 {
  background: #e99844;
}
.sidebar-square .sidebar-panel li a .icon {
  font-size: 14px;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.3);
}
.sidebar-no-icon .sidebar-panel li a {
  padding-left: 23px;
}
.sidebar-no-icon .sidebar-panel li a .icon {
  display: none;
}
/* =================================================================================
Sidepanel 
================================================================================= */
.sidepanel {
  z-index: 9999;
  position: fixed;
  display: none;
  width: 300px;
  top: 60px;
  bottom: 0;
  right: 0;
  padding-top: 20px;
  overflow: auto;
  box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.2);
  background: #FBFBFD;
}
.sidepanel ul {
  padding: 0;
}
.sidepanel li {
  display: block;
}
.sidepanel li a:hover {
  background: rgba(0, 0, 0, 0.02);
}
.sidepanel .nav-tabs {
  font-size: 12px;
  font-weight: bold;
  display: block;
  width: 300px;
  position: fixed;
  background: #3d464d;
  z-index: 2;
  top: 60px;
  padding: 0;
}
.sidepanel .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
  display: inline-block;
  border-right: none;
  width: 33.3333%;
  margin: 0;
}
.sidepanel .nav-tabs > li > a {
  margin-right: 0px;
  line-height: normal;
  color: #fff;
  display: block;
  padding: 10px 0;
  border: none;
  border-radius: 0px;
  text-align: center;
  margin-bottom: -1px;
  padding: 12px 0;
}
.sidepanel .nav-tabs > li > a:hover {
  border-color: none;
}
.sidepanel .nav-tabs > li.active > a,
.sidepanel .nav-tabs > li.active > a:hover,
.sidepanel .nav-tabs > li.active > a:focus {
  color: #399BFF;
  cursor: default;
  background-color: #fff;
  border: none;
}
.sidepanel-m-title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #37363e;
  padding: 16px 0;
  position: relative;
}
.sidepanel-m-title .left-icon,
.sidepanel-m-title .right-icon {
  border: 1px solid #e1e1e1;
  color: #58666e;
  position: absolute;
  width: 26px;
  font-size: 13px;
  height: 26px;
  border-radius: 3px;
}
.sidepanel-m-title .left-icon a,
.sidepanel-m-title .right-icon a {
  color: #58666e;
  display: block;
}
.sidepanel-m-title .left-icon a:hover,
.sidepanel-m-title .right-icon a:hover {
  opacity: 0.7;
}
.sidepanel-m-title .left-icon {
  left: 0;
}
.sidepanel-m-title .right-icon {
  right: 0;
}
/* Today */
.today {
  padding: 0;
}
/* List with Title */
.list-w-title {
  margin: 0px -20px;
}
.list-w-title .label {
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
}
.list-w-title .date {
  position: absolute;
  right: 20px;
  font-size: 11px;
  color: #76757B;
  top: 23px;
}
.list-w-title a {
  display: block;
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #E5E5E5;
  color: #7A8189;
}
.list-w-title h4 {
  margin: 5px 0;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}
/* General Sidepanel Title */
.gn-title {
  background: #E4E4E4;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin: 0 -20px;
  padding: 4px 0 4px 20px;
}
/* Todo List */
.todo-list li {
  padding: 5px 0 5px 20px;
}
/* Chat List */
#chat {
  position: relative;
}
#chat .group {
  font-size: 11px;
  margin: 0px -20px;
}
#chat .group .member {
  position: relative;
  line-height: 17px;
}
#chat .group .member a {
  display: block;
  padding: 10px 20px;
  color: #7A8893;
}
#chat .group .member a:hover {
  color: #3D464C;
}
#chat .group .member img {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  float: left;
  margin-right: 10px;
  margin-top: 0px;
}
#chat .group .member b {
  font-weight: 600;
  display: block;
  font-size: 13px;
}
#chat .group .member .status {
  display: block;
  position: absolute;
  right: 20px;
  top: 50%;
  bottom: 50%;
  margin: -4px 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
#chat .group .member .online {
  background: #3CA63F;
}
#chat .group .member .busy {
  background: #EA5944;
}
#chat .group .member .away {
  background: #E99844;
}
#chat .group .member .offline {
  background: #7B8994;
}
#chat .search {
  padding: 20px;
  border-top: 1px solid #E5E5E5;
  background: #fff;
  position: fixed;
  bottom: 0;
  width: 300px;
  margin-bottom: 0;
  margin-left: -20px;
}